// COLORS - DARK

// Background
$background-dark_darkest: #0f1220;
$background-dark_darker: #142133;
$background-dark_dark: #123148;
$background-dark_light: #03425c;
$background-dark_lightest: #00647b;

$darkest-semi-opaque: rgba(15, 18, 32, 0.9);

// Font color
$font-color_primary: #fcfcfd;
$font-color_secondary: #95989e;

// COLORS - LIGHT -- later on

// SOME SPACING VARIABLES
$nav-height: 51px;
$footer-min-height: 35px;
$combined-nav-footer-height: 85px;
$border-radius: 4px;